.navbar {
    justify-content: space-between;
}
span{
    padding-right: 1rem;
}
.homebuttonRight{
    position: absolute;
    margin-left: 80%;
}
mat-card-title{
    font-size: 20px;
    display: block;
    background-color:#ace600;
    border-radius: 10px;
    padding: 10px;
    // text-align: center;
   // display: flex;
   
}
