<footer class="footer ">
    <!-- <hr> -->
    <div class="row mt">
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 text-center">
            <h6 class=" mt">Copyright &#169; {{presentYear}}-{{currenTYear}} BFW Ltd. All rights reserved </h6>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 text-center">
            <h6 class=" mt">Developed by IRIS Team,Version 4.1.0</h6>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 text-center" style="margin-top: -5px;">
            Follow us on:



            <a href="https://www.facebook.com/m2nxt/" target="_blank">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="https://www.linkedin.com/company/m2nxt" target="_blank">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
            <a href="https://www.youtube.com/channel/UCj6VMzg1FYi4QUcrLh8oLzQ" target="_blank">
                <i class="fa fa-youtube" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</footer>