<!-- bootstramp class are used -->
<!-- <div class="container-fluid page">
    <div class="page__box p-3 mt-2">Dashboard</div>
    <div class="page__content shadow p-3 position-relative">
        <div class="page__content-data position-absolute text-center">
        <div class="square">
           
           <p>Login Users Count:&nbsp;&nbsp;{{allLoginCount}}</p> 
        </div>
        </div>
    </div>
</div> -->


<div class="card-wrapper">
    <div class="card">
        <div class="front">Login Users Count:&nbsp;&nbsp;{{allLoginCount}}</div>
        <div class="back">
           <p class="back_d">Date</p>
           <div class="back_p">{{latest_date}}</div>
        </div>
    </div>
</div>

