.row{
  width:30%;
  align-items: center;
  justify-content: center;
  margin-left: 30%;
  margin-top: 7%;
  border: 2px solid blue;
  padding: 45px;
}
.btn{
    width:40%;  
}

@media only screen and (min-width:768px)
{
  
}