<form [formGroup]="signupForm" (ngSubmit)="signUp()">
    <div class="row">
        <div class="mb-3">
            <label for="exampleInputName" class="form-label">Name</label>
            <input formControlName="name" type="name" class="form-control" id="exampleInputName">
        </div>
    
        <div class="mb-3">
            <label for="exampleInputMobile" class="form-label">Mobile Number</label>
            <input formControlName="mobile" type="mobile" class="form-control" id="exampleInputMobile">
        </div>
    
        <div class="mb-3">
            <label for="exampleInputEmail" class="form-label">Email Address</label>
            <input formControlName="email" type="email" class="form-control" id="exampleInputEmail">
        </div>

        <div class="mb-3">
            <label for="exampleInputPassword" class="form-label">Password</label>
            <input formControlName="password" type="password" class="form-control" id="exampleInputPassword">
        </div>
            <button type="submit" class="btn btn-primary">Signup</button>
            <a style="color:blue; margin-top:10px;" routerLink="/login-dashboard">Already Member ? Click to Login!</a>
    </div>
    </form>
    